.curr_highlight{
  padding: 2px 4px;
  background-color: #fff8dc;
  border-radius: 4px;
}

.DescBox{
	height:20em;
	width:80%;
}

.panel-title{
	line-height: inherit;
	font-family: inherit;
	font-size: inherit;
	font-weight: normal;
}

.highlight,
.next,
.btngrp,
.author,
.quespane,
.header,
#Post {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
}