.highlight{
  display: inline-block;
  border-radius: 50%;
  width: 8px;
  height: 8px;
  background-color: #FFA500;
  margin-right: 2px;
  cursor: hand;
  cursor: pointer;
}

.highlight,
.next,
.btngrp,
.author,
.quespane,
.header,
#Post {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
}
