.highlight{
  padding-left:2px;
  padding-right: 2px;
  background-color: #fff8dc;
  border-radius: 4px;
  margin-right: 2px;
}

.highlight,
.next,
.btngrp,
.author,
.quespane,
.header,
#Post {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
}