.container{
	display:none;
}

.header{
	display:none;
}

.postbox{
	width:100%;
}

.posttopic{
	background-color: #FFFFD0;
}

.highlight,
.next,
.btngrp,
.author,
.quespane,
.header,
#Post {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
}

#loaddot{
	background-color:#FFA500;
	border-radius:50%;
	width:24px;
	height:24px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -50px;
	margin-left: -50px;
}

.topicbox{
	float:left;
}

.topicbox textarea{
	height:32px;
}

.addpostbtn{
	border-radius:0px;
}
