.container{
	display:none;
}

.header{
	display:none;
}

.postbox{
	width:100%;
}

.posttopic{
	background-color: #FFFFD0;
}

.highlight,
.next,
.btngrp,
.author,
.quespane,
.header,
#Post {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
}

#loaddot{
	background-color:#FFA500;
	border-radius:50%;
	width:24px;
	height:24px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -50px;
	margin-left: -50px;
}

.topicbox{
	float:left;
}

.topicbox textarea{
	height:32px;
}

.addpostbtn{
	border-radius:0px;
}

.coursenav{
	cursor:pointer;
	cursor:hand;
	font-size:10pt;
	color: gray;
	margin-right: 30px;
}

#cfeed{
	border-bottom:6px solid #FFA500;
}

#coursenavwrap{
	padding-top:20px;
	padding-bottom:2px;
	margin-bottom:18px;
	width:100%;
	border-bottom:1px solid #FFA500;
}

#suttonlink:hover, #scribelink:hover{
	background-color:#F5F5F5;
}

#afeed{
	font-size:10pt;
}

#afeed h1{
	display:none;
}

#cfeed{
	float:left;
}

#overview{
	float:right;
}

#linksnav{
	position:relative;
	left:26%;
}

#linkcontainer{
	position: absolute;
	top: 18px;
	right: 0px;
	width: 100%;
	display:none;
	background-color:#FFFFFF;
	padding:10px;
	border:1px solid #C0C0C0;
}

#ocont{
	display:none;
}

.notiftext{
	color:grey;
}

.activityques{
	font-size:12pt;
}

#upview{
	margin-top:20px;
}
