.container{
	display:none;
}

.header{
	display:none;
}

.postbox{
	width:100%;
}

.posttopic{
	background-color: #FFFFD0;
}

.highlight,
.next,
.btngrp,
.author,
.quespane,
.header,
#Post {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.quabl_full{
  border-radius:12px;
  background-color: #FFA500;
  padding-right:6px;
  color:#FFFFFF;
  padding-left:6px;
}

.highlight_dummy{
  display: inline-block;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  background-color: #FFA500;
  margin-right: 3px;
}

#loaddot{
	background-color:#FFA500;
	border-radius:50%;
	width:24px;
	height:24px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -50px;
	margin-left: -50px;
}
