#page-container{
  padding-top:50px;
}

#fixedpane{
  float:right;
  width:23%;
  text-align:right;
  min-height: 100px;
  border-left:solid 2px #FFA500;
  position:fixed;
  padding-left:10px;
  font-family:"Lucida Grande", "Segoe UI", "Helvetica Neue", Helvetica, Arial, serif, sans-serif;
  font-size:12pt;
  padding-right:20px;
  right:5px;
  top:100px;
  z-index:1000;
}

.triangle{
  height:0px;
  width:0px;
  border-left:solid 10px #FFFFFF;
  border-right:solid 10px #FFA500;
  border-top:solid 10px #FFFFFF;
  border-bottom:solid 10px #FFFFFF;
  position:absolute;
  left:-22px;
  top:40%;
}

.instruct, #qinst{
  font-size:9pt;
  color:#C0C0C0;
}

.highlight_wrapper {
  background-color:#FFFCCC;
}

#quesbox{
  border:solid 1px #C0C0C0;
  width:100%;
  height:100px;
  margin-top:10px;
}

#contextquesbox{
  border:solid 1px #C0C0C0;
  width:100%;
  height:100px;
  margin-top:10px;
}
