{% extends 'SimplerApp/base.html' %}
{% load static %}

{% block scripts_block %} 

<script src="{% static 'js/addsimpler.js' %}"></script>

{% endblock %}

{% block body_block %}
{% autoescape off %}
		<div class="simpler-wrapper" style="padding-bottom:10px;padding-top:10px;">
			<div class="jumbotron">
				{{simpler.simpler}}<hr/>
				<div align='right'><button class="btn btn-success addsimp-toggle" style="display:none;">Add Simpler</button></div>
				<div class="simpler-textarea" align="center">
					<div><textarea class="ckeditor" id='simp{{simpler.id}}'></textarea>{% csrf_token %}</div>
						<button type="button" class="btn btn-default glyphicon glyphicon-ok addsimp" id="{{simpler.id}}" data ='{{ post_id }}'></button>
						<button type="button" class="btn btn-default glyphicon glyphicon-remove close-textarea addsimp-toggle" data ='{{ post_id }}'></button>
					</div>
				</div>
			</div>
			<a href="/simpler/{{post_id}}" style="font-size:15pt;">Back to Post.</a>
		</div>
		{% endautoescape %}
{% endblock %}