{% extends 'SimplerApp/base.html' %}
{% load static %}

{% block scripts_block %} 

<script src="{% static 'js/addsimpler.js' %}"></script>

{% endblock %}

{% block body_block %}
{% autoescape off %}
		<div class="simpler-wrapper" style="padding-bottom:10px;padding-top:10px;">
			<div class="jumbotron">
				{{q.question}}<hr/>
					<div class="simpler-textarea">
					<div>
						<div id="toolbar">
						  <button class="ql-bold btn btn-default" style="font-size:13pt; padding: 5px 10px; margin:5px;">B</button>
						  <button class="ql-italic btn btn-default" style="font-size:13pt; padding: 5px 13px; margin:5px;">I</button>
						  <button class="ql-underline btn btn-default" style="font-size:13pt; padding: 5px 10px; margin:5px;"><u>U</u></button>
				  		  <button class="ql-image btn btn-default" style="font-size:13pt; padding: 5px 10px;margin:5px;">Insert Image</button>
						</div>
						<div id='editor'></div>
						{% csrf_token %}
					</div>
					<div align="center">
						<button type="button" class="btn btn-default glyphicon glyphicon-ok addsimp" id="{{q.id}}"></button>
						<button type="button" class="btn btn-default glyphicon glyphicon-remove back" data="{{q.id}}" id="{{simpler.parent_simpler.id}}"></button>
					</div>
					</div>
					</div>
				</div>
			</div>
			<!--a href="/request/back_to_post/postid:{{post_id}};simplerid:{{simpler.parent_simpler.id}};/" style="font-size:15pt;">Back to Post.</a-->
		</div>
		{% endautoescape %}
{% endblock %}