{% extends 'SimplerApp/base.html' %}
{% load static %}

{% block scripts_block %}
<script src="{% static 'js/content.js' %}"></script>
{% endblock %}

{% block basiccss %}
<link href="{% static 'css/sutton.css' %}" rel="stylesheet" />
{% endblock %}

{% block css_block %}
<link href="{% static 'css/highlight.css' %}" rel="stylesheet" />
{% endblock %}

{% block body_block %}

{% autoescape off %}
<div id='scrollto' style="display:none;">{% if scrollto %}{{scrollto}}{% else %}default{% endif %}</div>
<div id="upperwrapper">

  <div class="mainques">
    <h1>Reinforcement Learning: An Introduction</h1>
    <h2>Richard S. Sutton and Andrew G. Barto</h2>
  </div>

</div>
{% endautoescape %}

{% autoescape off %}

{% for rques in rquestions %}

<div class="rquesheader questionon-{{rques.highlight.highlight_parent.id}}" data-id="{{rques.id}}" style="display:none;">

  <div class="rques hid-{{rques.highlight.id}} parent-{{rques.highlight.highlight_parent.id}}"><a href="/question/{{rques.id}}">{{rques.question}}</a>
    <button class="btn btn-default addanswer" style="display:none;"><a href="/addsimpler/{{rques.id}}">Add Answer.</a></button></div>

  </div>

  {% endfor %}

  {% endautoescape %}

  <div id="fixedpane">

    <div class="triangle"></div>

    <div class="instruct">Select any text to add a question<br/> Or, click on a dot to view related question(s).</div>

    <div id="quescrate"></div>

    <div id="qinst" style="display:none;">Add another question on this quabl below.</div>

    <div id="quesboxwrapper" style="display:none;">

      <textarea id="contextquesbox"></textarea>
      <button class="btn btn-primary askcontques" disabled="true">Ask Question</button><br/>
      {% if user.username == 'ravi' or user.username == 'priyatosh' %}
      <span style="font-size:9pt; color:#C0C0C0;"><input type="checkbox" id="assigncheckcq" class="assigncheck"/> MARK AS ASSIGNMENT</span>
      {% else %}
      <span style="font-size:9pt; color:#C0C0C0;"><input type="checkbox" id="anoncheckcq" class="anoncheck"/> ASK ANONYMOUSLY</span>
      {% endif %}
    </div>

    <div id="queswrapper" style="display:none;">

      <textarea id="quesbox"></textarea>
      <button class="btn btn-primary askques" disabled="true">Ask Question</button><br/>
      {% if user.username == 'ravi' or user.username == 'priyatosh' %}
      <span style="font-size:9pt; color:#C0C0C0;"><input type="checkbox" id="assigncheckcq" class="assigncheck"/> MARK AS ASSIGNMENT</span>
      {% else %}
      <span style="font-size:9pt; color:#C0C0C0;"><input type="checkbox" id="anoncheckq" class="anoncheck"/> ASK ANONYMOUSLY</span>
      {% endif %}
    </div>

  </div>
  <!--div class="shortquespane" style="display:none; font-size:13pt;">{{ques}}</div-->
  <div class="answer-area">

    {% autoescape off %}

    {% for answer in answers %}

    <div class="nthanswer">

      <div class="withwriter">

        <div class="answer" data-id="{{answer.id}}" data-text="{{answer.post.id}}">
          {{answer.answer}}
        </div>

        <div class="aldwrapper"><div class="ansloaddot"></div></div>

      </div>

      <div class="relques"></div>

    </div>

    {% endfor %}

    {% endautoescape %}
  </div>

  <div id="dumps">

    <div id="empty" style="display:none;"></div>
    <div id="rquesdump" style="display:none;"></div>
    <div id="anscounter" style="display:none;">{{anscount}}</div>
    <div id="ansdump" style="display:none;"></div>
    <div id="highlightdump" style="display:none;"></div>

  </div>
  {% endblock %}
