{% extends 'SimplerApp/base.html' %}
{% load static %}
{% block scripts_block %}
	<script src="{% static 'js/context.js' %}"></script>
{% endblock %}

{% block css_block %}
	<!--link href="{% static 'css/index.css' %}" rel="stylesheet" /-->
	<link href="{% static 'css/highlight.css' %}" rel="stylesheet" />
{% endblock %}

{% block body_block %}
{% autoescape off %}

<div class="nthcontext">

		<div id="contextsimpler" class="context answer" data-id="{{contextsimpler.id}}" data-text="{{contextsimpler.post.id}}">{{contextsimpler.answer}}</div>

		<button class="btn btn-default ask reqsimp" style="display:none;">Ask.</button>

</div>

{% endautoescape %}
{% endblock %}
