{% extends 'SimplerApp/base.html' %}
{% load static %}
{% block scripts_block %}
	<script src="{% static 'js/question.js' %}"></script>
{% endblock %}

{% block css_block %}
	<!--link href="{% static 'css/index.css' %}" rel="stylesheet" /-->
	<link href="{% static 'css/highlight.css' %}" rel="stylesheet" />
{% endblock %}

{% block body_block %}
{% autoescape off %}

<div class="nthcontext">

		<div class="context answer">{{contextsimpler.answer}}<br/></div>
		
		<button class="btn btn-default ask reqsimp" data-id="{{contextsimpler.id}}" data-text="{{contextsimpler.post.id}}">Ask.</button>

</div>

{% endautoescape %}
{% endblock %}
