{% extends 'SimplerApp/base.html' %}
{% load static %}
{% block scripts_block %} <script src="{% static 'js/highlight.js' %}"></script>
{% endblock %}
{% block body_block %}
	<a href="/simpler/{{post_id}}" style="font-size:15pt; text-decoration:underline">Back to Post.</a><br/><br/>
	<div style="padding-bottom:10px;" id='{{count}}' data='{{current}}' class='elevator' value="/defined/{{post_id}}/{{pid}}/{{highlightx}}/">
		<a class="previous" style='font-size:14pt;'>Previous (<span id='preid'></span>)</a>
		<a class="next" style='float:right; font-size:14pt;'>Next (<span id='nextid'></span>)</a>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">{{highlight}}</h3>
		</div>
		<div class="panel-body">
			<div style='color:#808080;text-align:center;'><i>How do you want the selected text simplified? Describe below.</i></div>
			<form method='post' action=''>
				<div align = "center" style="padding:10px;">
					{% csrf_token %}
					{% for f in form.visible_fields %}
					{{ f.errors }}
					{{ f }}
					{% endfor %}
				</div>
				<div align = "center" style="padding-bottom:30px;"><button type="submit" class="btn btn-primary btn-lg">Ask for Simpler.</button></div>
			</form>
		</div>
	</div>
{% endblock %}