{% extends 'SimplerApp/base.html' %}
{% load static %}

{% block scripts_block %}

<script>
$(document).ready(function(){
    $(".DescBox").attr("placeholder","Ask a question related to your highlight here.");

$(".curr_highlight").click(function(){
	$(this).parent().css({
		"border-radius":'12px',
		"background-color": "#FFA500",
		"padding-right":"6px",
		"color":"#FFFFFF",
	});
});

});
</script>

{% endblock %}

{% block css_block %}

<link href="{% static 'css/define.css' %}" rel="stylesheet">

{% endblock %}

{% block body_block %}
{% autoescape off %}

	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">{{answer_part}}</h3>
		</div>
		<div class="panel-body">
			<form method='post' action=''>
				<div align = "center" style="padding:10px;">
					{% csrf_token %}
					{% for f in form.visible_fields %}
					{{ f.errors }}
					{{ f }}
					{% endfor %}
				</div>
				<div align = "center" style="padding-bottom:30px;"><button type="submit" class="btn btn-primary btn-lg">Ask.</button></div>
			</form>
		</div>
	</div>
	<a href="/request/back_to_post/postid:{{post_id}};simplerid:{{pid}};/" style="font-size:15pt; text-decoration:underline">Back to Post.</a>
{% endautoescape %}
{% endblock %}
