{% extends 'SimplerApp/base.html' %}
{% load static %}
{% block scripts_block %} <script src="{% static 'js/highlight.js' %}"></script>
{% endblock %}
{% block body_block %}
	<a href="/simpler/{{post_id}}" style="font-size:15pt; text-decoration:underline">Back to Post</a><br/><br/>
	<div style="padding-bottom:10px;" id='{{count}}' data='{{current}}' class='elevator' value="/highlight/{{post_id}}/{{pid}}/{{highlightx}}/">
		<a class="previous" style="font-size:14pt; text-align:left; text-decoration:inline; color:blue;">Previous (<span id='preid'></span>)</a>
		<a class="next" style="font-size:14pt; text-align:right; float:right; text-decoration:inline; color:blue;">Next (<span id='nextid'></span>)</a>
	</div>

	{% for h in higharr %}
		{% autoescape off %}
		<div class="simpler-wrapper" style="padding-bottom:100px;">
			<div class="jumbotron">
				{{h.highlight_simpler.simpler}}<hr/>
				<div align='right'><button class="btn btn-success addsimp-toggle">Add Simpler</button></div>
				<div class="simpler-textarea" style='display:none;'>
					<div align="center"><textarea class="ckeditor" cols="80" rows="8" id='simp{{h.highlight_simpler.id}}'></textarea>{% csrf_token %}</div>
					<div align="center" style='padding-top:10px;'>
						<button type="button" class="btn btn-default glyphicon glyphicon-ok addsimp" id="{{h.highlight_simpler.id}}" data ='{{ post_id }}'></button>
						<button type="button" class="btn btn-default glyphicon glyphicon-remove close-textarea addsimp-toggle" data ='{{ post_id }}'></button>
					</div>
				</div>
			</div>
		</div>
		{% endautoescape %}
	{% endfor %}
{% endblock %}