{% extends 'SimplerApp/base.html' %}

{% block scripts_block %}
<script type="text/javascript">
$(document).ready(function(){
	var color = 1;
	$(".posttopic").each(function(){
		if(color%3==1){
			$(this).css("background-color","LightGreen")
		}
		else if(color%3==2){
			$(this).css("background-color","LightYellow")

		}
		else{
			$(this).css("background-color","Orange")
		}
		color = color+1
	});
	$(".postlink").each(function(){
		var height = $(this).height();
		$(this).parent().find(".posttopic").height(height-20);
	});
	$("h3").attr("style","position: relative; top: 30%;");
	$(".hidtopic").each(function(){
		var topic = $(this).html();
		$(this).parent().parent().find("h3").html(topic);	
	});
	var postbw = $(".postbox").width();
	$(".topicbox").width(postbw*0.35);
	var addpostbtnh = $(".addpostbtn").height();
	$(".topicbox").height(addpostbtnh);
	$(".topicbox").attr("placeholder", "Topic here.");
	$(".postbox").attr("placeholder", "Got a question or anything else that you had trouble understanding?");
	$(".addpostbtn").attr("disabled", "disabled");
	$(".postbox, .topicbox").click(function(){
		$(".addpostbtn").removeAttr("disabled");
	});
});
</script>
{% endblock %}

{% block css_block %}
<style>

.postbox{
	width:100%;
}

</style>
{% endblock %}

{% block body_block %}
<div style='padding-bottom:300px;'>
	{% if user.is_authenticated %}
		{% else %}
	<div style="text-align:center;"><h1><a href='/register/'>Register Here</a> or <a href="/login/">Login.</a></h1></div>
	{% endif %}
	{% if user.is_authenticated %}
<form method='post' action='/addpost/'>
<div>
	{% csrf_token %}
<div style="width=400px;">
	{{ form.post}}
</div>
<div style='float:left;'>
	{{form.topic}}
</div>
<div align = "right" style="padding-bottom:30px;"><button type="submit" class="btn btn-primary btn-lg addpostbtn">Add Post</button></div>
	{% endif %}
	</form>
	{% for topic in topics %}
		<div class="exploration" style="padding:10px;">
			<div style="float:left; width:35%;text-align:center;" class="posttopic"><h3></h3></div>
			<div style="float:right; width:65%;" class="postlink">
				{% autoescape off %}
				{% for post in topic %}
				<div class="hidtopic" style="display:none;">{{post.topic}}</div>
				<blockquote>
				{{post.post}}
				<a href='/simpler/{{post.id}}/'><div align="right">Explore <span class="glyphicon glyphicon-chevron-right"></span></div></a>
				</blockquote>
				{% endfor %}
				{% endautoescape %}
	</div>
	<br style="clear:both;"/>
	</div>
	{% endfor %}
	 </div>
{% endblock %}
