{% extends 'SimplerApp/base.html' %}
{% load static %}
{% block scripts_block %}
	<script src="{% static 'js/index.js' %}"></script>
{% endblock %}

{% block css_block %}
	<link href="{% static 'css/index.css' %}" rel="stylesheet" />
	<link href="{% static 'css/highlight.css' %}" rel="stylesheet" />
{% endblock %}

{% block body_block %}

	{% for num in numarr %}
		<div style="display:none;" class="simnum">{{num.0}}-{{num.1}}-{{num.2}}</div>
	{% endfor %}

<div style='padding-bottom:30px;'>
{% if user.is_authenticated %}
{% else %}
	<div style="text-align:center;"><h1><!--<a href='/register/'>Register Here</a> or --><a href="/login/">Login.</a></h1></div>
{% endif %}
{% if user.is_authenticated %}

	<div>
	{% csrf_token %}
		<div style="width:100%; padding-bottom:5px;">
			<textarea class="contextbox" style="height:12em;"></textarea>
		</div>
		<div align = "center" style="padding-bottom:30px;"><button type="submit" class="btn btn-primary btn-lg addpostbtn" disabled="disabled">Add Context.</button></div>
		<div class="dropdown" style="float:right;">
			<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
				Options&nbsp;<span class="caret"></span>
			</button>
			<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
				<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Sort by Topic</a></li>
				<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Sort by Data Added</a></li>
				<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Sort by Popularity</a></li>
			</ul>
		</div>
		<br/>
		<div class="context-area" style="float:left; width:70%; padding-right:20px;" align="justify">
			{% autoescape off %}
				{% for context in contexts %}
				<div style="padding-bottom:40px;">
					<div class="topicname" style="font-size:16pt;">#{{context.post.topic}}</div>
					<div class="context" data="{{context.id}}">{{context.answer}}</div>
					<span style="float:left"><a class="folbtn {% if context.id in followed %}unfollowstate{% else %}followstate{% endif %}" href='javascript:;' data='{{context.id}}'>{% if context.id in followed %}Unpin This Context{% else %}Pin This Context{% endif %}</a></span>
				</div>
				{% endfor %}
			{% endautoescape %}
		</div>
		<div class="question-area" style="float:right; width:30%; text-align:right;">
			{% autoescape off %}
			{% for context in contexts %}
				<div class="contextstats" id="{{context.id}}"></div>
				{% for que in ques %}
					{% if que.highlight.highlight_parent.id == context.id %}
						<div class="q-{{que.highlight.highlight_parent.id}} ques hid-{{que.highlight.id}}" style="display:none;"><a href="/question/{{que.id}}">{{que.question}}</a></div>
					{% endif %}
				{% endfor %}
			{% endfor %}
			{% endautoescape %}
		</div>
	</div>
</div>
{% endif %}
{% endblock %}
