{% extends 'SimplerApp/base.html' %}
{% block body_block %}
<div style="padding-bottom:500px;">

<div id="Post" class="jumbotron">
	{% autoescape off %}<h4>{{ post.topic.topic }}:</h4><h3>{{ post.post }}</h3>{% endautoescape %}
	<div align="right"><h2>
		<button class="btn btn-default glyphicon glyphicon-chevron-down addsimp-toggle-post" style='color:#808080'></button></h2></div>

	<div class="simpler-textarea" style='display:none;'>
	<div align="center"><textarea class="ckeditor" cols="80" rows="8" id='level1-textarea'></textarea></input>{% csrf_token %}</div>
	<div align="center" style='padding-top:10px;'>
		<button type="button" class=" btn btn-primary addsimp" id="level1-simp" align="center" data =' {{post.id}} '>Add Simpler.</button>
	</div>
	</div></div>
<div>
	{% for i in loop %}
		<div>
			<br/><br/><br/><br/><br/>
			{% for simpler in post.simpler_set.all %}
			{% if simpler.display != 'none' %}
			{% if simpler.coeficient == i %}
			{% autoescape off %}
				<div class="jumbotron {{simpler.parent_list}}" id="{{simpler.id}}"style="display:{{simpler.display}};">{{simpler.author}} <br/><br/>
					{{simpler.simpler}}
					<hr/>
					<div align="right">
						<button type="button" class = "btn btn-success reqsimp" id="{{simpler.id}}">Ask for Simpler.</button></div>
					<div align="right"><h3>
						<div style="padding-bottom:20px;">
						<button class="btn btn-primary addsimp-toggle">Add Simpler.</button></div>
						<a href="/admin/SimplerApp/simpler/{{simpler.id}}/"><button type="button" class = "btn btn-default glyphicon glyphicon-pencil"></button></a>
						<button class="btn btn-default glyphicon glyphicon-align-center" style="padding-right:20px;color:#808080;"></button>
						<button class="btn btn-default glyphicon glyphicon-chevron-up" style="color:#808080; display:none; padding-right:20px;"></button>
						<button class="btn btn-default glyphicon glyphicon-trash" style="color:#808080; padding-right:20px;"></button>
						<button class="btn btn-default glyphicon glyphicon-ok remove" style="color:#808080; padding-right:20px; display:none;"></button>
						<button class="btn btn-default glyphicon glyphicon-remove go-back" style="color:#808080; padding-right:20px; display:none;"></button></h3></div>
				<div class="simpler-textarea" style='display:none;'>
				<div align="center"><textarea class="ckeditor" cols="80" rows="8" id='simp{{simpler.id}}'>
				</textarea>{% csrf_token %}</div>
				<div align="center" style='padding-top:10px;'>
					<button type="button" class="btn btn-default glyphicon glyphicon-ok addsimp" id="{{simpler.id}}" data ='{{ post.id }}'></button>
					<button type="button" class="btn btn-default glyphicon glyphicon-remove close-textarea addsimp-toggle" data ='{{ post.id }}'></button>
				</div>
			</div>
			</div> 
			{% endautoescape %}
			{% endif %}
			{% endif %}
			{% endfor %}
		</div>
	{% endfor %}
</div>
</div>
{% endblock %}