{% extends 'SimplerApp/base.html' %}
{% load static %}
{% block scripts_block %} <script src="{% static 'js/post.js' %}"></script>
{% endblock %}

{% block css_block %}

<link href="{% static 'css/highlight.css' %}" rel="stylesheet" />	

{% endblock %}

{% block basiccss %}
<link href="{% static 'css/post.css' %}" rel="stylesheet">	
{% endblock %}

{% block sideblock %}
<div class='quespane'>
	<div align="right"><span style="font-size:13pt;">Q</span>UESTIONS</div><hr style="margin-top:0px;"/>
	{% for h in highlightqs %}
		{% for x in h %}
			<p align='left' class="q-{{x.highlight.highlight_parent.id}} q-sidebar hid-{{x.highlight.id}}" style="display:none;">
				<span class="ques" data='{{x.id}}'>{{x.question}}</span><br/>
				<span class="ansnum" data='{{x.id}}'></span>
				{% if user.is_authenticated %}
					<button class="btn btn-default ques-add" data='/addsimpler/{{x.id}}' style="display:inline-block; margin: 0px;">Add Answer.</button><br/>
				{% endif %}
			</p>
		{% endfor %}
	{% endfor %}
	<button align="right" class="btn btn-default addques" data="" style="display:none;">Ask Another Question</button>
</div>
{% endblock %}

{% block body_block %}
<div id="post-wrapper" style="display:none;">
<div id="Post" class="jumbotron" style="display:none;">
	{% autoescape off %}<p>{{ post.topic }}:<p>
	<h3>{{ post.post }}</h3>
	{% if post.description %}
	<hr/>
	{{post.description}}
	{% endif %}
	{% endautoescape %}

	{% if user.is_authenticated %}
	<div align="right"><h2>
		<button class="btn btn-default glyphicon glyphicon-chevron-down addsimp-toggle-post" style='color:#808080'></button></h2></div>
	{% endif %}
</div>
</div>
	{% for i in loop %}
	<div class="level-wrapper" style='padding-bottom:100px;'>
	{% for simpler in simplers %}
		{% if simpler.display != 'none' %}
			{% if simpler.coeficient == i %}
			{% autoescape off %}
			<div class='simpler-wrapper' style='padding-bottom:40px;'>
				<div class="jumbotron {{simpler.parent_simpler.id}} level-{{i}}" id="{{simpler.id}}" style="display:{{simpler.display}};" data="{{simpler.parent_list}}">
						<span class="simpler-html">{{simpler.simpler}}</span><br/>
						<div class="author" style="text-align:right;">Written by <a href="javascript:;" class="getup" data="{{simpler.writer.id}}">{{simpler.writer.username}}</a>.</div><br/>
				</div> <!-- simpler/jumbotron close. -->
				<div class='btngrp'>
						{% if user.is_authenticated %}
						<button type="button" class = "btn btn-default reqsimp" id="{{simpler.id}}" data='{{post.id}}' style='float:right'>Ask.</button>
						{% endif %}
				</div>
			</div><!-- simpler-wrapper close. -->				
			{% endautoescape %}
			{% endif %}
		{% endif %}
	{% endfor %}
	</div>
	{% endfor %}
	<div id="scrolltoid" style="display:none;">{{request}}</div>
{% endblock %}