{% extends 'SimplerApp/base.html' %}
{% load static %}
{% block scripts_block %}
	<script src="{% static 'js/question.js' %}"></script>
{% endblock %}

{% block basiccss %}
    <link href="{% static 'css/question.css' %}" rel="stylesheet" />
{% endblock %}

{% block css_block %}
	<link href="{% static 'css/highlight.css' %}" rel="stylesheet" />
{% endblock %}

{% block body_block %}
	{% autoescape off %}
	    <div class="nthcontext" style="float:left; width:70%; display:none;">
	    <div id="contextsimpler" class="context answer" data-id="{{contextsimpler.id}}" data-text="{{contextsimpler.post.id}}">{{contextsimpler.answer}}</div>
	</div>
	<div id="upperwrapper">
		<div class="author" style="padding-bottom:10px; font-size:12pt;">Question By <br/>
													{{ques.req_by.first_name}} {{ques.req_by.last_name}}
			</div>
	<div class="viewcontext" data-id="{{ques.highlight.highlight_parent.question}}"><button class="btn btn-default" style="position:absolute; top:0; right:0;">View Context</button></div>
	<div class="mainques" data-id="{{ques.id}}" data-hid="{{ques.highlight.id}}">{{ques}}</div>
	<div class="mainquespane" style="float:left; width:70%;">

		<span class="numanswers"><button type="button" class="btn btn-default addsimp" id="{{ques.id}}" style="margin-bottom:5px;">Add Answer</button> &bull;
{{anscount}} Answers </span><span class="jumptotext">JUMP TO <span class="glyphicon glyphicon-chevron-down"></span>
	</div>
</div>
	{% endautoescape %}
	<div class="sidequespane">
		{% autoescape off %}
			{% for rques in rquestions %}
			<div class="rquesheader" data-id="{{rques.id}}">
				<div class="rques hid-{{rques.highlight.id}}"><a href="/question/{{rques.id}}">{{rques.question}}</a></div>
				<button class="btn btn-default addanswer" style="display:none;"><a href="/addsimpler/{{rques.id}}">Add Answer.</a></button>
			</div>
			{% endfor %}
			{% for cques in cquestions %}
			<div class="cquesheader" style="display:none;" data-id="{{cques.id}}">
				<div class="cques hid-{{cques.highlight.id}}"><a href="/question/{{cques.id}}">{{cques.question}}</a></div>
				<button class="btn btn-default addanswer"><a href="/addsimpler/{{cques.id}}">Add Answer.</a></button>
			</div>
			{% endfor %}
		{% endautoescape %}
	</div>
	<!--div class="shortquespane" style="display:none; font-size:13pt;">{{ques}}</div-->
	<div class="answer-area" style="float:left; width:70%; font-size:12pt;">
		<div class="quilleditor">
			<div id="toolbar">
				<button class="ql-bold btn btn-default" style="font-size:13pt; padding: 5px 10px; margin:5px;">B</button>
				<button class="ql-italic btn btn-default" style="font-size:13pt; padding: 5px 13px; margin:5px;">I</button>
				<button class="ql-underline btn btn-default" style="font-size:13pt; padding: 5px 10px; margin:5px;"><u>U</u></button>
					<button class="ql-image btn btn-default" style="font-size:13pt; padding: 5px 10px;margin:5px;">Insert Image</button>
			</div>
			<div id='editor'></div>
			{% csrf_token %}
		</div>
		{% autoescape off %}
			{% for answer in answers %}
			<div class="nthanswer" style="display:none;">
				<div class="answer" data-id="{{answer.id}}">{{answer.answer}}</div>
				<button class="btn btn-default ask reqsimp" data-id="{{answer.id}}" data-text="{{answer.post.id}}">Ask.</button>
			</div>
			{% endfor %}
		{% endautoescape %}
	</div>
	<div class="lowerinstruct" style="position:fixed; bottom:0; display:none;" align="center">Scroll down to view first answer.</div>
	<div class="prev" style="display:none;"><a href="javascript:;">Previous Answer</a></div>
	<div class="next" style="display:none;"><a href="javascript:;">Next Answer</a></div>
{% endblock %}
