{% extends 'SimplerApp/base.html' %}

{% block css_block %}
<style type="text/css">
.fieldcat{
    color:#999;
    font-weight: bold;
}
</style>
{% endblock %}

{% block body_block %}
<div style="padding-bottom:300px;">
        {% if registered %}
		<h1>Thanks for registering!</h1>
		<a href="/">Return to the homepage.</a><br />
        {% else %}

        <form id="user_form" method="post" action="/register/"
                enctype="multipart/form-data">

            {% csrf_token %}

            <div><span class="fieldcat">FULL NAME&nbsp&nbsp</span><span>{{ profile_form.full_name }}</span></div><br/><br/>
            <div><span class="fieldcat">USERNAME&nbsp&nbsp</span><span>{{user_form.username}}</span></div><br/><br/>
            <div><span class="fieldcat">EMAIL&nbsp&nbsp</span><span>{{user_form.email}}</span></div><br/><br/>
            <div><span class="fieldcat">PASSWORD&nbsp&nbsp</span><span>{{user_form.password}}</span></div><br/><br/>
            <div><span class="fieldcat">SHORT BIO&nbsp&nbsp</span><span>{{profile_form.shortbio}}</span></div><br/><br/>
            <div><span class="fieldcat">PROFILE IMAGE&nbsp&nbsp</span><span>{{profile_form.picture}}</span></div><br/><br/>
            
            <button class="btn btn-default" type="submit" name="submit" value="Register" >Register</button>
        </form>
	</div>
        {% endif %}
{% endblock %}