{% extends 'SimplerApp/base.html' %}

{% block body_block %}
<div style='padding-bottom:300px;'>
{% for request in reqs %}
{% autoescape off %}
	<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">{{request.req_by}} wants this simplified:</h3>
  </div>
  <div class="panel-body">
    {{request.simpler.simpler}}<h4><div align="right"><a class="glyphicon glyphicon-chevron-right"href ='/simpler/{{request.simpler.post.id}}/'></a></div></h4>
  </div>
</div>{% endautoescape %}
{% endfor %}
</div>
{% endblock %}