{% load static %}
<html>
<head>
  <title>Quabl</title>

  <link href="{% static 'css/tour.css' %}" rel="stylesheet">

  <script src="{% static 'js/jquery-1.11.1.js' %}"></script>

  <script src="{% static 'js/tour.js' %}"></script>

</head>
<body>
  <div id="wrapper">
  <div id=logowrapper>
  <img src='/quablmedia/logo.svg' id="biglogo"></img>
  <div id="introtext">
    <p>Ever read something on the Internet or in a book that you wanted to know more about? Ever wanted to point to that specific piece of text and ask a question about it?</p>

    <p>Quabl enables you to do exactly that. Don't get lost in tabs the next time you try to look for answers, Quabl it. Scroll down to know more or log in.</p>
  </div>
  <div id="login" align="center" style="position:relative; top:20%;color:#FFF; display:none;">

    <form id="login_form" method="post" action="/login/">
      {% csrf_token %}
      <input type="text" name="username" value="" size="30" style="height:46px; font-size:22px; border-radius: 6px; border:none; padding:4px;" placeholder="Username"/>
      <br /><br/>
      <input type="password" name="password" value="" size="30" style="height:46px; font-size:22px; border-radius: 6px; border:none; padding:4px;" placeholder="Password" />
      <br /><br/>

      <button class="btn btn-default" type="submit" value="Login"><b>Log In</b></button>
    </form>
  </div>
  </div>
</div>
<div id="ftwrapper">
<div id="ftopbar">
  <div id="logocontainer"><img src="/quablmedia/logo.svg" style="width:100%; height:100%; display:none;"></img>
  </div>
  <div id="signin">Log In</div>
</div>
</div>
</div>
<div id="container" style="padding-top:30px; padding-bottom:100px;">
  <div style="width:80%; position:relative; left:10%;">
  <div class="step">
    <span class="tourtextright">
      Add contexts from anywhere on the Internet(Or even a book!). <br/><br/>
      Let us know what made the question pop up.</span>
    <span style="float:left;" class="stepimg"><img src="/quablmedia/context_add.png"></img></span>
    </div>
  <div class="step">
    <span class="tourtextleft">
      Select any hard-to-understand part of the context and ask a related question.<br/><br/>
       We will get you the best answers and notify you when they are added. </span>
    <span style="float:right;" class="stepimg"><img src="/quablmedia/dot_add.png"></img></span>
      </div>
  <div class="step">
    <span class="tourtextleft">
      Parts of answers and contexts that already have questions are marked by Quabl dots(<span class="instructh"></span>). <br/><br/>
      Click on these dots to view existing questions or to add a new one.
    </span>
    <span style="float:right;" class="stepimg"><img src="/quablmedia/add_on_existing_dot.png"></img></span>
    </div>
  <div class="step">
    <span class="tourtextright">Answer questions in your areas of expertise, and help us make trees of logically related units of knowledge.</span>
    <span style="float:left;" class="stepimg"><img src="/quablmedia/answer.png"></img></span>
    </div>
  <div class="step">
    <span class="tourtextleft">Create a Quabl dot <i>on</i> an answer if you like, even if it's an answer of a question asked <i>on</i> an answer.
      We've made <i>every</i> answer, <i>context</i> Quabl-able, so ask away.</span><span style="float:right;" class="stepimg">
      <img src="/quablmedia/recursion.png"></img></span>
      </div>

      <div align="center" style="padding-top:150px;">
        <h1 style="font-weight:100;">Welcome to Quabl.</h1><br/><br/>
        <h2 style="font-weight:100;"><a href="/register/">Sign Up.</a></h2>
      </div>

</div>
</div>
</body>
</html>
