{% load static %}
<html>
<head>
  <title>Quabl</title>

  <link href="{% static 'css/tour.css' %}" rel="stylesheet">

  <script src="{% static 'js/jquery-1.11.1.js' %}"></script>

  <script src="{% static 'js/tour.js' %}"></script>
</head>
<body>
  <div id="wrapper">
  <div id=logowrapper>
  <img src='/quablmedia/logo.svg' id="biglogo"></img>
</div>
<div id="ftwrapper">
<div id="ftopbar">
  <div id="logocontainer"><img src="/quablmedia/logo.svg" style="width:100%; height:100%; display:none;"></img>
  </div>
</div>
</div>
</div>
<div id="container">
  <div style="width:60%; position:relative; left:20%;">
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac mauris mollis nisl vestibulum aliquet. Donec non magna porttitor, tristique urna non, gravida risus. Donec lobortis tellus odio, vel pellentesque diam pretium quis. Duis ut lacus dolor. Morbi nec fringilla eros. Duis ut vestibulum nulla, vitae pharetra mi. In in dictum sem. Curabitur pellentesque a mauris vel placerat. Sed id mollis dolor. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; In laoreet vehicula turpis sit amet tincidunt. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce dui purus, interdum vitae ultricies laoreet, tincidunt eget mi. Curabitur vestibulum, lectus quis pellentesque rutrum, massa est aliquam quam, placerat posuere tellus urna eget felis. Sed vulputate leo tortor, et molestie mauris blandit eu. Vivamus porta metus aliquam risus sagittis, ut accumsan erat bibendum.

  Nam faucibus dui vel mauris auctor tincidunt. Aliquam aliquam felis nec magna faucibus volutpat. Aenean eleifend placerat libero, ullamcorper lacinia felis venenatis nec. Proin at lectus non massa porttitor dapibus. Mauris sodales, ex at lobortis commodo, quam ex viverra arcu, viverra varius enim ante non velit. Integer in leo eu nisi dapibus sodales quis vitae erat. Cras bibendum magna et lacus porta sodales. Aenean semper augue at dapibus posuere. Donec tempor nisl id pellentesque mollis. Curabitur at ipsum feugiat, eleifend metus a, tincidunt magna. Nam ac scelerisque arcu

  Nullam quis arcu libero. Quisque erat velit, ultricies nec convallis facilisis, vestibulum sed justo. Vivamus accumsan sed nulla non pulvinar. Phasellus a dui est. Proin bibendum augue et purus ullamcorper porta. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Integer porttitor facilisis imperdiet. Aliquam erat volutpat. Fusce varius pretium dui, id auctor risus auctor ut. Integer porta velit sed augue hendrerit facilisis. Donec volutpat, nisi sed aliquam pharetra, justo leo convallis libero, nec pretium arcu neque ac arcu. Donec ante magna, scelerisque tincidunt ullamcorper vitae, sagittis at quam.

  Sed vulputate condimentum maximus. Curabitur dictum massa ut urna blandit venenatis. Fusce fringilla nunc vel libero consequat, in mattis lectus ultrices. Aenean vel vulputate sapien, sit amet semper massa. Curabitur malesuada ultrices viverra. Sed nec viverra felis. Cras tempor, lectus in auctor imperdiet, ex nibh aliquet ligula, sed varius nibh libero nec odio. Proin odio purus, varius tristique mollis sed, condimentum non mauris. Sed viverra sapien eu nibh posuere, in blandit tellus vestibulum.

  Vestibulum sit amet fermentum arcu, id lacinia leo. Mauris sagittis, sapien ut rutrum ultrices, ex velit pulvinar mauris, nec volutpat dui massa nec risus. Ut consectetur pretium ultricies. Nam vel augue id leo ullamcorper pretium sit amet non nibh. Mauris aliquet augue elit, id tincidunt turpis aliquet sed. Morbi fringilla quam id felis volutpat, at facilisis libero convallis. Maecenas dignissim elementum neque eget ullamcorper. Suspendisse dictum, sem at scelerisque efficitur, velit nibh aliquam neque, condimentum volutpat tortor odio ac nibh. Donec vulputate ut justo ut laoreet. Pellentesque volutpat leo mi, at laoreet urna pharetra id. Donec viverra at lacus ac lobortis. Nam vestibulum leo sapien, non hendrerit est gravida et. Aenean rutrum urna sed arcu fermentum tincidunt a quis felis. Aenean id ex sodales, pulvinar diam ullamcorper, molestie ligula.

  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac mauris mollis nisl vestibulum aliquet. Donec non magna porttitor, tristique urna non, gravida risus. Donec lobortis tellus odio, vel pellentesque diam pretium quis. Duis ut lacus dolor. Morbi nec fringilla eros. Duis ut vestibulum nulla, vitae pharetra mi. In in dictum sem. Curabitur pellentesque a mauris vel placerat. Sed id mollis dolor. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; In laoreet vehicula turpis sit amet tincidunt. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce dui purus, interdum vitae ultricies laoreet, tincidunt eget mi. Curabitur vestibulum, lectus quis pellentesque rutrum, massa est aliquam quam, placerat posuere tellus urna eget felis. Sed vulputate leo tortor, et molestie mauris blandit eu. Vivamus porta metus aliquam risus sagittis, ut accumsan erat bibendum.

  Nam faucibus dui vel mauris auctor tincidunt. Aliquam aliquam felis nec magna faucibus volutpat. Aenean eleifend placerat libero, ullamcorper lacinia felis venenatis nec. Proin at lectus non massa porttitor dapibus. Mauris sodales, ex at lobortis commodo, quam ex viverra arcu, viverra varius enim ante non velit. Integer in leo eu nisi dapibus sodales quis vitae erat. Cras bibendum magna et lacus porta sodales. Aenean semper augue at dapibus posuere. Donec tempor nisl id pellentesque mollis. Curabitur at ipsum feugiat, eleifend metus a, tincidunt magna. Nam ac scelerisque arcu.

  Nullam quis arcu libero. Quisque erat velit, ultricies nec convallis facilisis, vestibulum sed justo. Vivamus accumsan sed nulla non pulvinar. Phasellus a dui est. Proin bibendum augue et purus ullamcorper porta. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Integer porttitor facilisis imperdiet. Aliquam erat volutpat. Fusce varius pretium dui, id auctor risus auctor ut. Integer porta velit sed augue hendrerit facilisis. Donec volutpat, nisi sed aliquam pharetra, justo leo convallis libero, nec pretium arcu neque ac arcu. Donec ante magna, scelerisque tincidunt ullamcorper vitae, sagittis at quam.

  Sed vulputate condimentum maximus. Curabitur dictum massa ut urna blandit venenatis. Fusce fringilla nunc vel libero consequat, in mattis lectus ultrices. Aenean vel vulputate sapien, sit amet semper massa. Curabitur malesuada ultrices viverra. Sed nec viverra felis. Cras tempor, lectus in auctor imperdiet, ex nibh aliquet ligula, sed varius nibh libero nec odio. Proin odio purus, varius tristique mollis sed, condimentum non mauris. Sed viverra sapien eu nibh posuere, in blandit tellus vestibulum.

  Vestibulum sit amet fermentum arcu, id lacinia leo. Mauris sagittis, sapien ut rutrum ultrices, ex velit pulvinar mauris, nec volutpat dui massa nec risus. Ut consectetur pretium ultricies. Nam vel augue id leo ullamcorper pretium sit amet non nibh. Mauris aliquet augue elit, id tincidunt turpis aliquet sed. Morbi fringilla quam id felis volutpat, at facilisis libero convallis. Maecenas dignissim elementum neque eget ullamcorper. Suspendisse dictum, sem at scelerisque efficitur, velit nibh aliquam neque, condimentum volutpat tortor odio ac nibh. Donec vulputate ut justo ut laoreet. Pellentesque volutpat leo mi, at laoreet urna pharetra id. Donec viverra at lacus ac lobortis. Nam vestibulum leo sapien, non hendrerit est gravida et. Aenean rutrum urna sed arcu fermentum tincidunt a quis felis. Aenean id ex sodales, pulvinar diam ullamcorper, molestie ligula.


</div>
</div>
</body>
</html>
